[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"flake8" = "*"
"autopep8" = "*"
mypy = "*"
white = "*"
black = "*"
jupyter = "*"

[packages]
gevent = "*"
astor = "*"
billiard = "*"
requests = "*"
ipykernel = "*"
pygithub = "*"

[requires]
python_version = "3.7"
